---
---

$header-fonts: Ubuntu, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$body-fonts:   Raleway, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;

$text-color:           fade-out(#000, 0.13);
$secondary-text-color: fade-out(#000, 0.46);

$bar-text-color:   fade-out(#FFF, 0.3);
$bar-text-hint:    fade-out(#FFF, 0.7);
$bar-text-divider: fade-out(#FFF, 0.88);

$color-50:  #ECEFF1;
$color-700: #455A64;
$color-900: #263238;

$color-accent: #304FFE;

body {
  background: $color-900;

  font: 110% $body-fonts;
}

h1, h2, h3, h4, h5 {
  font-family: $header-fonts;
}

h1 > small {
  display: block;
  color: $secondary-text-color;
  font-size: 75%;
  font-weight: normal;
  font-style: italic;
}

a:link, a:visited {
  color: $text-color;
}

.container {
  padding: 10px 15px;

  box-sizing: border-box;
}

#primary-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#main-content {
  position: relative;

  background-color: $color-50;

  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: justify;

  color: $text-color;

  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.5);
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: $color-700;

  padding: 5px;

  color: $bar-text-color;
  text-align: right;

  box-shadow: 0 3px 3px 1px rgba(0,0,0,0.5);
}

.navbar {

  .container {
    background: $color-700;

    padding-top: 0;
    height: 50px;
    padding-bottom: 0;

    color: $bar-text-color;
    font-variant: small-caps;

    box-shadow: 0 3px 3px 1px rgba(0,0,0,0.5);
  }

  .brand {
    padding: 10px 15px 0 0;
  }

  .theta-symbol {
    display: inline-block;
    height: 100%;
    margin-right: -10px;
    font-size: 2.5em;
    float: right;
    cursor: default;
    color: $bar-text-hint;
  }

  a {
    display: inline-block;
    height: 100%;
    padding: 10px 10px 0 5px;
    border-right: 1px solid $bar-text-divider;

    box-sizing: border-box;

    font-size: 1.5em;
    text-decoration: none;



    &:link, &:visited {
      color: $bar-text-color;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.paginator .next {
  float: right;
}

img.about {
  display: block;
  margin: 0 auto;
}

p.about-links {
  text-align: center;

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
  }
}

@media(min-width: 720px) {
  img.about {
    padding-right: 5px;
    float: left;
  }

  .container {
    /* padding: 0; */
    width: 700px;
    margin: 0 auto;
  }
}
