---
---

/* $header-fonts: Ubuntu, Century Gothic, CenturyGothic, AppleGothic, sans-serif; */
/* $body-fonts:   Raleway, ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif; */

$text-color:           #FFF;
$secondary-text-color: fade-out($text-color, 0.3);

$background-color:     #222;

$bar-text-color:   fade-out(#FFF, 0.3);
$bar-text-hint:    fade-out(#FFF, 0.7);
$bar-text-divider: fade-out(#FFF, 0.88);

$color-50:  #ECEFF1;
$color-700: #455A64;
$color-900: #263238;

$color-accent: #304FFE;

body {
  background: $background-color;

  padding: 30px 15px 45px;

  font: 110% Monospace;

  color: $text-color;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 1em 0;
}

// Add some markdown stuff before headers to denote them
$before-header: '#';
@for $i from 1 through 6 {
  h#{$i}:before {
    content: $before-header + ' ';
  }

  $before-header: '#' + $before-header;
}

h1 > small {
  display: block;
  color: $secondary-text-color;
  font-size: 75%;
  font-weight: normal;
  font-style: italic;
}

a:link, a:visited {
  color: $text-color;
}

.container {
  padding: 10px 15px;

  box-sizing: border-box;
}

.keyword {
  color: #B87AB4;
}

.identifier {
  color: #1AA4A6;
}

#primary-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#main-content {
  position: relative;
  color: $secondary-text-color;

  padding-left: 46px;

  &:before {
    position: absolute;
    left: 16px;
    content: '/*'
  }

  &:after {
    display: block;

    margin-left: -21px;
    content: '*/'
  }

  :first-child {
    margin-top: 0;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: $background-color;

  /* padding: 5px; */

  color: $bar-text-color;
}

#foot-bar {
  background: #666;

  width: 100%;
  margin-bottom: 1.2em;

  &:after {
    display: table;
    content: '';
    clear: both;
    height: 0;
    width: 0;
  }
}

#copyright {
  float: right;
}

.navbar {
  background: #FFF;

  padding: 3px 13px 0px 3px;

  font-size: 0.9em;
  color: #000;

  .theta-symbol {
    display: inline-block;
    height: 100%;
    /* margin-right: -10px; */
    float: right;
  }

  a {
    display: inline-block;
    height: 100%;
    border-right: 1px solid $bar-text-divider;

    box-sizing: border-box;

    color: #000;
    text-decoration: none;

    &:hover:first-letter {
      text-decoration: underline;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.paginator .next {
  float: right;
}

img.about {
  display: block;
  margin: 0 auto;
}

p.about-links {
  text-align: center;

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
  }
}

@media(min-width: 720px) {
  img.about {
    padding-right: 5px;
    float: left;
  }

  .container {
    /* padding: 0; */
    width: 700px;
    /* margin: 0 auto; */
  }
}
